* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);

}


.mostrarlista {
  margin: 0 auto;
  margin-top: 4rem;
  width: 60%;
  text-align: center;
  background-color: #3691b4;
}

.botonlimpiarp, .botonMostrarp {
  margin-left: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 14rem;
  height: 5rem;
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: #0d6f98;


}
