<html>
<main class="principal">
  <div id="header">
    <ul class="nav">
      <li><a href="/Inicio"><h2>Menú</h2></a></li>
      <li><a href="/Contactos"><h2>Contactos</h2></a></li>
      <li><a href="/Empleados"><h2>Empleados</h2></a></li>
      <li><a href="/Juguetes"><h2>Juguetes</h2></a></li>
      <li><a href="/Empaque"><h2>Empaque</h2></a></li>
      <li><a href="/Materiales"><h2>Materiales</h2></a></li>
      <li><a href="/Catalogo"><h2>Catalogo</h2></a></li>
      <li><a href="/MaterialesJuguetes"><h2>Materiales y juguetes</h2></a></li>

      <li><a href="/Informe"><h2>Informes</h2></a></li>
    </ul>
  </div>
  <br>
  <main class="mostrarlista">

    <h1 class="titulo1">{{ title }}</h1>

    <div class="contenedor">
      <form (ngSubmit)="getProduccion(1)" [formGroup]="ListaProduccion">
        <button class="botonMostrarp" type="submit">Mostrar lista de Producción</button>
        <button class="botonlimpiarp" (click)="LimpiarLista()">Limpiar Lista</button>

        <h2 class="titulo2">{{TituloProduccion}}</h2>

        <table class="tabla-mostrarproduccion">
          <thead>
          <th>{{TablaProduccion[0]}}</th>
          <th>{{TablaProduccion[1]}}</th>
          <th>{{TablaProduccion[2]}}</th>
          <th>{{TablaProduccion[3]}}</th>
          <th>{{TablaProduccion[4]}}</th>
          <th>{{TablaProduccion[5]}}</th>
          <th>{{TablaProduccion[6]}}</th>
          <th>{{TablaProduccion[7]}}</th>
          </thead>

          <tbody>
          <tr *ngFor="let pro of Produccion">
            <td>{{pro.Id_produccion}}</td>
            <td>{{pro.Nombre_Encargado}}</td>
            <td>{{pro.nombre_juguete}}</td>
            <td>{{pro.Fecha_produccion}}</td>
            <td>{{pro.Detalles_produccion}}</td>
            <td>{{pro.Errores_produccion}}</td>
            <td>{{pro.Cantidad_producida}}</td>
            <td>{{pro.nombre_material}}</td>
          </tbody>

        </table>

      </form>
    </div>
  </main>


  <!--//MOSTRAR UN SOLO DATO DE PRODUCCION-->
  <main class="mostrarporId">
    <h2 class="titulo2">Buscar dato de Producción por Id</h2>

    <form (ngSubmit)="buscarIdProduccion()" [formGroup]="filtrarProduccion">
      <span>Eliga el Id de la Producción que quiere ver</span>
      <select class="dropdown" formControlName="combofiltro" (click)="getProduccion(2)">
        <option value="value1">ID de dato de Producción</option>

        <option *ngFor="let TipPro of comboListaProduccion" [value]="TipPro.Id_produccion">
          {{ TipPro.Id_produccion }} - {{ TipPro.Fecha_produccion}}
        </option>
      </select>
      <button type="submit">Buscar</button>
    </form>
    <ul>
      <h2 class="titulo2">Resultado de busqueda</h2>

      <table class="BusquedaId">
        <thead>
        <th>{{TabBusProduccion[0]}}</th>
        <th>{{TabBusProduccion[1]}}</th>
        <th>{{TabBusProduccion[2]}}</th>
        <th>{{TabBusProduccion[3]}}</th>
        <th>{{TabBusProduccion[4]}}</th>
        <th>{{TabBusProduccion[5]}}</th>
        <th>{{TabBusProduccion[6]}}</th>
        <th>{{TabBusProduccion[7]}}</th>
        </thead>

        <tbody>
        <tr *ngFor="let UnaId of MiProduccion">
          <td>{{UnaId.Id_produccion}}</td>
          <td>{{UnaId.Nombre_Encargado}}</td>
          <td>{{UnaId.nombre_juguete}}</td>
          <td>{{UnaId.Fecha_produccion}}</td>
          <td>{{UnaId.Detalles_produccion}}</td>
          <td>{{UnaId.Errores_produccion}}</td>
          <td>{{UnaId.Cantidad_producida}}</td>
          <td>{{UnaId.nombre_material}}</td>
        </tbody>
      </table>
    </ul>

  </main>
</main>
</html>
