* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);

}


.mostrarlista {
  margin-top: 9rem;
  width: 60%;
  text-align: center;
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: #3691b4;
  margin-left: 30rem;

}
