<html>

<body>
    <main class="principal">
        <div class="Estilo-contactos">
            <h3><a routerLink="/Contactos" class="pruebacontactos">Contactos</a></h3>
        </div>
        <div class="Estilo-empleados">
            <h3><a routerLink="/Empleados" class="pruebaempleado">Empleados</a> </h3>
        </div>
        <div class="Estilo-juguetes">
            <h3><a routerLink="/Juguetes" class="pruebaJuguetes">Juguetes</a> </h3>
        </div>
        <div class="Estilo-empaque">
            <h3><a routerLink="/Empaque" class="pruebaempaque">Empaque</a></h3>
        </div>
        <div class="Estilo-Materiales">
            <h3><a routerLink="/Materiales" class="pruebaMateriales">Materiales</a> </h3>
        </div>
        <div class="Estilo-Catalogo">
            <h3><a routerLink="/Catalogo" class="pruebaCatalogo">Catalogo</a> </h3>
        </div>
    
    
   
</main>
    
</body>

</html>