<html>

<body>
    <main class="principal">
        <div class="Estilo-contactos">
            <h3><a routerLink="/Contactos" class="pruebacontactos">Ir a contactos</a></h3>
        </div>
        <div class="Estilo-empleados">
            <h3><a routerLink="/Empleados" class="pruebaempleado">Ir a Empleados</a> </h3>
        </div>
        <div class="Estilo-juguetes">
            <h3><a routerLink="/Juguetes" class="pruebaJuguetes">Ir a Juguetes</a> </h3>
        </div>
        <div class="Estilo-empaque">
            <h3><a routerLink="/Empaque" class="pruebaempaque">Ir a Empaque</a></h3>
        </div>
        <div class="Estilo-Materiales">
            <h3><a routerLink="/Materiales" class="pruebaMateriales">Ir a Materiales</a> </h3>
        </div>
        <div class="Estilo-Catalogo">
            <h3><a routerLink="/Catalogo" class="pruebaCatalogo">Ir a Catalogo</a> </h3>
        </div>
    
    
   
</main>
    
</body>

</html>