*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

.principal{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Estilo-contactos{
    background-color: rgb(255, 166, 0);
    margin: 0 auto;
    margin-top: 6rem;
    width: 20rem;
    height: 8rem;
    text-align: center;
    border-radius: 1rem 1rem 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Estilo-empleados{
    background-color: rgb(255, 166, 0);
    margin: 0 auto;
    margin-top: 6rem;
    width: 20rem;
    height: 8rem;
    text-align: center;
    border-radius: 1rem 1rem 1rem 1rem;
}

.Estilo-juguetes{
    background-color: rgb(255, 166, 0);
    margin: 0 auto;
    margin-top: 6rem;
    width: 20rem;
    height: 8rem;
    text-align: center;
    border-radius: 1rem 1rem 1rem 1rem;
}

.Estilo-empaque{
    background-color: rgb(255, 166, 0);
    margin: 0 auto;
    margin-top: 6rem;
    width: 20rem;
    height: 8rem;
    text-align: center;
    border-radius: 1rem 1rem 1rem 1rem;
}
.Estilo-Catalogo{
    background-color: rgb(255, 166, 0);
    margin: 0 auto;
    margin-top: 6rem;
    width: 20rem;
    height: 8rem;
    text-align: center;
    border-radius: 1rem 1rem 1rem 1rem;
}
.Estilo-Materiales{
    background-color: rgb(255, 166, 0);
    margin: 0 auto;
    margin-top: 6rem;
    width: 20rem;
    height: 8rem;
    text-align: center;
    border-radius: 1rem 1rem 1rem 1rem;
}

.pruebacontactos, .pruebaempleado, .pruebaJuguetes, .pruebaempaque, .pruebaMateriales, .pruebaCatalogo{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    
}

h3{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color: black;
}