*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    width: 100vw;
    height: 100vh;
    margin-top: 6rem;
}

.listar-materiales, .buscar-id-MJ{
    background-color:rgb(83, 236, 83);
    margin: 0 auto;
    margin-top: 10rem;
    width: 125rem;
    text-align: center;
    border-radius: 1rem 1rem 1rem 1rem;
}

th{
    
    color: rgb(0, 0, 0);
    border-radius: 1rem 1rem 1rem 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.tr1{
    margin-left: 3rem;   
}