:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.principal {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.Estilo-contactos,
.Estilo-empleados,
.Estilo-Produccion,
.Estilo-Materiales,
.Estilo-MaterialesJuguetes,
.Estilo-juguetes,
.Estilo-empaque,
.Estilo-Catalogo {
    background-color: rgb(162, 0, 255);
    border-radius: 1rem 1rem 1rem 1rem;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    width: 15rem;
    height: 15rem;
}



.pruebacontactos,
.pruebaempleado,
.pruebaJuguetes,
.pruebaempaque,
.pruebaMateriales,
.pruebaCatalogo,
.pruebaMaterialesJuguetes,
.pruebaProduccion {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;

}

h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 2.5rem;
    
}

a {
    text-decoration: none;
    color: black;
}


.derecha{
    float: right;
}
.izquierda{
    float: left;
}
body{
    background-color: rgb(155, 3, 3);
}
